*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-image: url(images/pexels-pixabay-33045.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed

}
.div1{
    color: white;
    /*background-color: black;*/
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    /*border: SOLID white;*/
    
}
input{
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgb(23, 23, 24);
    border-bottom: 2px solid black;
    color: white;
}
.f1{
    /*border: 200px solid rgb(210, 179, 245);*/
    height: 1500px;
    /*border-radius: 10px;*/
    /*padding: 30px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border-top: 10px;*/
    /*width: 450px;*/
   /* border-left: 500px;*/
   /*border-color: white;*/

}
label{
    color: rgb(255, 255, 255)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
/* background-image:url(images/pexels-pixabay-33045.jpg); */
/* height: 100vh; */
background-color: rgb(1, 1, 17);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
background-attachment: fixed;
}
.container{
width: 100%;

}

.navbar {
overflow: hidden;
background-color: #333;
}

.navbar a {
float: right;
display: flex;
flex-direction: column;
color: #f2f2f2;
text-align: right;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
background: #ddd;
color: black;
}

@media screen and (max-width: 600px) {
.navbar a {
float: none;
width: 100%;
}
}
.first-section1{
    width: 100%;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40dvh;

}
.first-section{
width: 50%;
height: 100%;
padding: 30px;
}
.first-section h1{
    font-size: large;
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
}
.first-section h3{
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    margin-top: 5dvh;
    width: 100%;
}
.first-section p{
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2dvh;
}
.imagesec{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagesec img{
    height: 100%;
    max-width: 100%;

}
.gallery-pic{
display: flex;
flex-wrap: wrap;
width: 100%;
height: 100%;
border-radius: 10px;


}

.text-section, .gallery-pic img {
width: 50%;
height: 300px;

}
.gallery-pic .text-section {
        background-color: white;
        text-align: center;
        justify-content: center;
        padding: 5%;
        
        
    }
.third-section{
width: 100%;
height:800px;
margin-top: 80px;
margin-bottom: 30px;
}       
.third-section img{
width: 100%;
height: 650px;
border-radius: 10px
}
.carousel-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    height: 70dvh;
    /* background-image: url("images/A\ Classic\ Kenya\ Safari\ is\ the\ Ultimate\ Family\ Vacation\ _\ Virtuoso\ -\ Copy.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    border: 10px;
    height: 100%;
}
.carousell{
    padding-top: 5px;
    height: 90dvh;
    /* padding-bottom: 10dvh; */
    /* margin-bottom: 10dvh; */
}
.carousel-slide {
    display: none;
    transition:  0.5s ease; /* Smooth transition */
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
}

/* Add animation if desired */
.carousel-slide.active {
    display: block;
    opacity: 1; /* Show slide with smooth opacity transition */
    width: 100%;
}
.ovl{
    top: -45dvh;
    width: 100%;
    height: 90dvh;
    position: relative;

}
.ovl img{
    width: 100%;
    height: 90%;
    /* opacity: 90%; */
}
.second-section{
    width: 100%;
    height: 80dvh;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    align-items: center;
    justify-content: center;
}
.abthd{
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: larger;
    padding: 5%;
    text-decoration: underline;
}
.abtcontent{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.crd1{
    height: 90%;
    width: 31%;
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
    border-radius: 10px;

}
.crd1 h1{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: cursive;
}
.cdct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.crd1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: antiquewhite;
    width: 100%;
    height: 60dvh;
}
.ft2{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 90%;
}
.infi{
    width: 40%;
}
.infi img{
    width: 100%;
}
.infi p{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: cursive;
}
.cont{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.in1{
    height: 90%;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.in1 svg{
    height: 10dvh;
    width: 100%;
}
.mm1{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 5%;
}
.ifn1{
    width: 100%;
    /* display: flex; */
    align-items: center;
    text-align: center;
}
